jeecg-boot/.idea/
jeecg-boot/jeecg-boot-parent.iml

ant-design-vue-jeecg/.DS_Store
ant-design-vue-jeecg/node_modules
ant-design-vue-jeecg/dist/
ant-design-vue-jeecg/npm-debug.log*
ant-design-vue-jeecg/yarn-debug.log*
ant-design-vue-jeecg/yarn-error.log*
ant-design-vue-jeecg/.idea
ant-design-vue-jeecg/.vscode
ant-design-vue-jeecg/package-lock.json

logs/
upFiles/
webapp/

*.war
*.zip
*.tar
*.tar.gz
*.class
.idea/
*.ipr
*.iml
*.iws

*.log
*.cache
*.diff
*.patch
*.tmp